<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CPS1.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <CPS1.Properties.Settings>
      <setting name="AmplitudeMax" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="AmplitudeMin" serializeAs="String">
        <value>-100</value>
      </setting>
      <setting name="PeriodMax" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="PeriodMin" serializeAs="String">
        <value>0.01</value>
      </setting>
      <setting name="SamplesMax" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="SamplesMin" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="StartTimeMax" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="StartTimeMin" serializeAs="String">
        <value>-50</value>
      </setting>
      <setting name="DurationMax" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="DurationMin" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DutyCycleMax" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DutyCycleMin" serializeAs="String">
        <value>0.001</value>
      </setting>
      <setting name="HistogramIntervalMax" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="HistogramIntervalMin" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="NumbersPerSample" serializeAs="String">
        <value>500</value>
      </setting>
    </CPS1.Properties.Settings>
  </userSettings>
</configuration>